/* My custom CSS */
div.jumbotron {
    padding: 2rem 2rem;
    margin-bottom: 1rem;
}

div.facets li {
    margin-bottom: 0.5rem;
}

div.r {
    margin-bottom: 1.5rem;
}

h4 {
    margin-bottom: 0;
}